body {
   margin: auto;
}

body div.center {
   text-align: center;
}

body div.center table {
   margin: auto;
}

.control {
        background-color: #FF3399;
        padding: 10px 20px 20px 20px;
}

.admin {
        background-color: #0099FF;
        padding: 10px 20px 20px 20px;
}

#goal {
   text-align: right;
}

ul {
 	margin-left: 25%;
   text-align: left;
}

.today {
	background-color: #FC6;
}

.CommonV2 td.today {
	background-color: #FC6;
}

.CommonV2 td.todayc {
	background-color: #FC6;
	text-align: center;
}

th.mitzvah {
	max-width: 300px;
}

td.mitzvah {
	max-width: 300px;
}

.desc {
	width: 400px;
}
